body{
    height: 100%;
    background-color: burlywood;
    font-family: 'Rye', cursive;
}


#board{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

 #playerTextContainer, #turnMessageContainerReal{
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 10pt;
}

#playerTextHolder, #turnMessageContainer{
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 3pt;
}

.text{
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0;
}
.row{
    justify-content: center;
    align-content: center;
    display: flex;
}

.boardSpace{
    height: 200px;
    width: 400px;
    border: none;
    background-color: burlywood;
    font-size: 100pt;
    color: black;
}

#one, #two, #four, #five, #seven, #eight{
    border-right: 2pt black solid;
}

#one, #two, #three, #four, #five, #six{
    border-bottom: 2pt black solid;
}

#entryScreen{
    /*display: block;*/
    display: block;
    position: fixed;
    background-color: burlywood;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

#entryPopup{
    display: flex;
    align-items: start;
    justify-content: center;
}



#entryPopupHolder{
    display: flex;
    flex-direction: column;
    gap: 15pt;
    align-items: center;
    background-color: burlywood;
}

#entryText{
    font-size: 75pt;
    margin-bottom: 20pt;;
    
}

#imgContainer{
    display: flex;
    gap: 100pt;
    
}

#humanBtn{
    margin: 0;
    box-shadow: 1px 2px black;
    font-family: rye, cursive;
    font-size: 20pt;
    text-align: center;
    height: 70pt;
    width: 120pt;
    background-color: brown;
    color: gold;

}

#saloonDoors{
    height: 500px;
    width: 600px;
}

.colt{
    margin-top: 10%;
    width:300pt;
    height: 150pt;
}


#popupScreen, #playerPopupScreen{
    display: none;
    position: fixed;
    background-color: rgba(0, 0 , 0, 0.5);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

#popup, #playerPopup{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}

#popupHolder{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5pt;
    border: 2pt black solid;
    width: 400pt;
    background-color: brown;
}

.btnContainer{
    display: flex;
}
#closeBtn{
    background-color: brown;
    color: white;
    border: none;
    font-size: 12pt;
    font-weight: bold;
}

#playerPopupText{
    margin: 0;
    font-size:17pt;
    
}
.popupBtn{
    margin: 0;
    box-shadow: 1px 2px black;
    font-family: rye, cursive;
    font-size: 14pt;
    text-align: center;
    height: fit-content;
    width: fit-content;
    background-color: silver
    ;
    color: black; 
    margin-bottom: 2pt;
}

.playerName{
    font-family: rye, cursive;
    font-size: 12pt;
    background-color: black;
    border: 1pt gold dashed;
    color: gold;
}

.label{
    font-size: 14pt;
}

#playerPopupHolder{
display: flex;
    flex-direction: column;
    border: 2pt black solid;
    width: 200pt;
    padding: 10pt;
    background-color: brown;
}

#popupTextContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6pt;
}


#inputRight{
    display: flex;
    align-items: right;
    justify-content: right;
    
}

