body{
    height: 100%;
    background-color: burlywood
}


#board{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

 #playerTextContainer, #turnMessageContainerReal{
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 10pt;
}

#playerTextHolder, #turnMessageContainer{
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 3pt;
}

.text{
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0;
}
.row{
    justify-content: center;
    align-content: center;
    display: flex;
}

.boardSpace{
    height: 200px;
    width: 400px;
    border: none;
    background-color: burlywood;
    font-size: 100pt;
    color: black;
}

#one, #two, #four, #five, #seven, #eight{
    border-right: 2pt black solid;
}

#one, #two, #three, #four, #five, #six{
    border-bottom: 2pt black solid;
}

#entryScreen{
    display: block;
    position: fixed;
    background-color: burlywood;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

#entryPopup{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}

#entryPopupHolder{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: burlywood;
}



#popupScreen{
    display: none;
    position: fixed;
    background-color: rgba(0, 0 , 0, 0.5);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

#popup{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}

#popupHolder{
    display: flex;
    flex-direction: column;
    border: 2pt black solid;
    width: 400pt;
    background-color: brown;
}



#inputRight{
     display: flex;
    align-items: right;
    justify-content: right;
    margin-top: 5%;
    margin-right: 5%;
}

#closeBtn{
    background-color: grey;
    color: white;
}